<!DOCTYPE html>
<html>
    <head>
        <title>hi</title>
        <link rel="stylesheet" href="../../css/home.css">
    </head>
    <body>
        <h1>Home Screen</h1>
        <div class="userText">
            <h3>Display Name</h3>
            <input type="text">
        </div>
    </body>
</html>